
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(247, 247, 247, 0.5),
     7px 7px 20px 0px rgba(253, 248, 248, 0.1),
     4px 4px 5px 0px rgba(255, 255, 255, 0.1);
    outline: none;
  }
  

  /* 2 */
  .btn-2 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255, 255, 255, 0.952),
                -4px -4px 6px 0 rgba(116, 125, 136, 0.87), 
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.438),
      inset 4px 4px 6px 0 rgba(250, 250, 250, 0.4);
  }
  
  